/* Carrusel.css */

/* Contenedor principal del carrusel */
.carousel-container {
  /*padding-top: 20px;*/
  position: relative;
  width: 100%;
  /*max-width: 900px;*/
  margin: 0 auto;
  overflow: hidden;
  border-radius:1px;
  height: 400px; /* Aseguramos una altura fija para el carrusel */
}

/* Contenedor de los items del carrusel */
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Contenedor de los items individuales */
.carousel-items {
  display: flex;
  width: 100%;
}

/* Estilo de cada item del carrusel */
.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  height: 100%; /* Asegura que cada item ocupe el 100% de la altura del contenedor */
  position: relative; /* Permite posicionar el velo (pseudo-elemento) dentro de cada item */
}

/* Aplicar el velo encima de la imagen */
.carousel-item::after {
  content: "";                  /* Necesario para crear el pseudo-elemento */
  position: absolute;           /* Posiciona el velo encima de la imagen */
  top: 0;                       /* Cubre todo desde la parte superior */
  left: 0;                      /* Cubre todo desde la parte izquierda */
  right: 0;                     /* Cubre todo hasta la parte derecha */
  bottom: 0;                    /* Cubre todo hasta la parte inferior */
  background-color: rgba(0, 0, 0, 0.2); /* Color negro con 40% de opacidad */
  border-radius: 1px;          /* Bordes redondeados (opcional, ajusta según tu diseño) */
}




/* Ajusta las imágenes dentro del contenedor */
.carousel-item img {
  width: 100%;
  height: 100%; /* Esto asegura que las imágenes no se estiren más allá del tamaño del contenedor */
  object-fit: cover; /* Ajusta las imágenes para que cubran el área sin distorsionarse */
  border-radius: 1px;
}

/* Títulos y texto */
.carousel-item h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #333;
}

.carousel-item p {
  font-size: 1rem;
  color: #777;
  margin-top: 5px;
}

/* Estilo de los botones de navegación */
.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(99, 247, 235, 0.345);
  color: rgb(214, 210, 210);
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.carousel-container button:hover {
  background-color: rgba(0, 0, 0, 0.511);
}
